@import "../../globals.sass";

$collaborator-width: 180px;
$collaborator-color: white;

@mixin title-text() {
  color: rgb(36, 36, 36);
  font-family: Arial;
  font-weight: bold;
  text-align: center;
}

.post {
  height: 100%;

  .inner {
    width: calc(100% - #{$collaborator-width} - 20px);
    height: 100%;

    .post-title {
      @include title-text();

      margin: 0 auto;
      display: block;
      font-size: 1.45em;
      box-shadow: none;
      outline: none;
      border: none;
    }

    .quill {
      margin: 0 auto;
      margin-top: 20px;
      width: 95%;
      height: 80%;

      .ql-toolbar {
        border: none;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        z-index: 10;
        position: relative;
        
      }
      
      .ql-container {
        padding: 5px 3px;
        font-size: 0.95em;
        z-index: 1;
        height: 100%;
        background: #fff;
        border: none;
        box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .collaborators {
    @include title-text();

    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    margin-top: $header-height;
    padding-top: 1.2em;
    box-shadow: 0px 0px 7px 1px lightgray;
    background-color: $collaborator-color;
    width: $collaborator-width;
    font-size: 1.3em;

    .section {
      width: 75%;
      margin-top: 10px;
      text-align: left;
      margin-right: auto;
      margin-left: auto;

      .title {
        color: #2C2C2C;
        font-size: 0.6em;
      }
    }

  }
}