#navbar {
  list-style-type: none;
  padding: 0;
  background-color: WhiteSmoke;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
}
.search.navbar {
  flex-grow: 1;
}

li.navbar {
  float: left;
  padding: 10px;
}

.link.navbar .UserMenu{
  flex-grow: 0;
}

a.navbar {
  display: block;
  padding: 1px;
  text-decoration: none;
}