// Global colors and styles should be defined here
$main-color: maroon

$main-font: "Rubik", Arial, Helvetica, sans-serif

@mixin main-text
  color: $main-color
  font-family: $main-font

body
  margin: 0;