// Global colors 
$main-color: #002366

// Global fonts
$main-font: "Rubik", Arial, Helvetica, sans-serif
$main-body-font: Arial, Helvetica, sans-serif

// Global values
$navigation-width: 170px
$header-height: 70px

@mixin main-text
  color: $main-color
  font-family: $main-font

body
  margin: 0;